@import "tailwindcss";

:root {
  --primary-color: #3b82f6;
  --secondary-color: #f8fafc;
  --bg-color: #ffffff;
  --text-color: #1e293b;
  --accent-color: #10b981;
  --font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer base {
  body {
    @apply bg-dark-300 text-white font-sans antialiased overflow-x-hidden;
  }
} */

/* Custom scrollbar for modern feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F172A; 
}
 
::-webkit-scrollbar-thumb {
  background: #1E293B; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B82F6; 
}

/* React flow custom styles to match dark mode */
.react-flow__pane {
  background-color: #0F172A;
}

.react-flow__node {
  border-radius: 8px;
}
